
@font-face {
    font-family: "nuevaFuente";
    src: url(/font/Romanesco-Regular.ttf);
}



body {
    margin: 0;
}

.menu-spa {
    background-color: #A3A656;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 70px; /* Espaciado de 70px desde el borde izquierdo */
}

.menu-spa ul li a:hover{
    color: #FFFF00;
}

.menu-spa ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-spa li {
    display: inline-block;
    margin-right: 30px; /* Ajusta el espacio entre los elementos según sea necesario */
}

.menu-spa a {
    text-decoration: none;
    color: #000; /* Color del texto */
    font-family: 'Inter', sans-serif; /* Utiliza la fuente Inter o la que prefieras */
    font-weight: 400; /* Regular */
    font-size: 16px;
}
.usuario{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 60rem;

}

.usuario .arrow{
    cursor: pointer;

}

.usuario .usuarioimg{
    transform: scale(0.9);
}

.usuario .bandera{
    padding: 1rem;
}


.usuario p{
    padding: 0 .5rem;
    font-family: 'Inter', sans-serif;
    cursor: pointer;

}
.usuario p:hover{
    color: FFFF00;
}


.usuario .micuenta{
margin-right: 2.5rem;
}


#spa-todos{
    background-image: url("/images/main.png");
    background-size: cover;
    background-position: center;
    height: 780px;
    display: flex;
    align-items: flex-start; /* Alinea el contenido en la parte superior */
    padding-left: 20px;
}

.text-spa{
    margin-left: 200px; 
    width: 600px;
    margin-top: 90px;
}

.text-spa h1{
    color: #000;
    font-family: nuevaFuente;
    height: 96px;
    font-weight: 400; /* SemiBold */
    font-size: 96px;
}

.text-spa h2 {
    font-family: 'Inter', sans-serif; /* Utiliza la fuente Inter o la que prefieras */
    font-weight: 600; /* SemiBold */
    font-size: 32px;
    width: 600px;
    color: #000; /* Color del texto, ajusta según sea necesario */
}

.reserva-codigo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F6F6;
    height: 100px;
    padding: 10px 20px; /* Ajustado para agregar espacio en los bordes */
    box-sizing: border-box;
}

#reserva {
    margin-right: 30px; /* Espaciado entre el campo de reserva y el label de código */
}

label {
    margin-right: 10px; /* Espaciado entre el texto y el campo de entrada */
    font-family: 'Inter', sans-serif; /* Utiliza la fuente Inter o la que prefieras */
    font-weight: 400; /* Regular */
    font-size: 16px;
}

input {
    padding: 8px;
    height: 50px;
    box-sizing: border-box;
    border: none; /* Elimina el borde */
    border-radius: 10px; /* Agrega esquinas redondeadas */
    background-color: white; /* Fondo blanco */
    font-family: 'Inter', sans-serif; /* Utiliza la fuente Inter o la que prefieras */
    font-weight: 400; /* Regular */
    font-size: 16px;
    color: #000; /* Color del texto del campo de entrada */
}

/* Estilo del placeholder */
input::placeholder {
    font-family: 'Inter', sans-serif; /* Utiliza la fuente Inter o la que prefieras */
    font-weight: 400; /* Regular */
    font-size: 16px;
    color: #9E9A9A; /* Color del placeholder */
}

#servicios {
    background-color: #fff;
    text-align: center;
    color: #000;
    padding-top: 100px; /* Espacio de 100px desde el inicio de la section hasta el inicio de los articles */
}

#servicios h1 {
    margin: 0;
    padding: 20px; /* Ajustar el tamaño del padding según lo deseado */
    background-color: #A3A656; /* Color de fondo para el título h1 */
    color: #fff; /* Color del texto del título */
    font-family: 'Inter', sans-serif; /* Utiliza la fuente Inter o la que prefieras */
    font-weight: 600; /* SemiBold */
    font-size: 32px;
    height: 40px;
    align-items: center;
    border-radius: 15px 15px 0 0;
}

#servicios article {
    width: 350px;
    display: inline-block;
    margin-left: 134px; /* Distancia de 134px entre cada artículo */
    margin-bottom: 60px;
}

#servicios article ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
}

#servicios article ul li {
    text-decoration: none;
    margin: 0px;
    color: #000; /* Color del texto */
    font-family: 'Inter', sans-serif; /* Utiliza la fuente Inter o la que prefieras */
    font-weight: 400; /* Regular */
    font-size: 16px;
    display: inline-block;
}

/* Estilos para h2 y h3 dentro del contenedor */
.inline-container {
    width: 340px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inline-container h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 32px;
}

.inline-container h3 {
    margin: 0; /* Elimina los márgenes predeterminados */
    background-color: #A3A656;
    color: #fff;
    padding: 13px;
    border-radius: 35px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    width: 130px;
    height: 18px;
    text-align: center;
}

.beneficios{
    background: #F2F6F6;
    margin-top: 40px;
    padding-top: 8px;
    height: 770px;
    justify-content: center;
    align-items: center;
}
.beneficios h1{
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600; /* SemiBold */
    font-size: 32px;
}

.contenedorBeneficios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; /* Ajusta este valor según tu preferencia */
    width: 100%;
    margin-top: 80px;
    justify-items: center;
    align-items: center;
}

.contenedorBeneficios article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: start; 
}

.contenedorBeneficios .imagenRedonda{
    width: 255px;
    height: 255px;
    border: 10px solid #384001;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorBeneficios .imagenRedonda img {
    max-width: 233px;
    max-height: 233px;
    object-fit: contain;
    margin: 11px;
}

.contenedorBeneficios h3{
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    margin: 0;
    padding-top: .5rem;
}

.contenedorBeneficios button{
    height: 4rem;
    width: 100%;
    border: none;
    border-radius: 35px;
    background-color: #A3A656;;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 0.8rem;
}



.contenedorBeneficios button:hover{
    background-color: #384001;
}

.contenedorBeneficios li{
    font-family: 'Inter', sans-serif; /* Utiliza la fuente Inter o la que prefieras */
    font-weight: 400; /* Regular */
    font-size: 16px;
    color: #000;
    margin: 0;
    padding-top: 0.4rem;
    text-align: justify;
}

.contenedorFooter{
    display: flex;
    background-color: #384001;
    justify-content: space-between;
    width: 100%;
    height: 97px;
}

.contenedorFooter nav{
    display: flex;
    align-items: center;
    padding-left: 70px;
    justify-content: space-between;
    width: 60%;
}

.contenedorFooter nav a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    color: #A3A656;
    font-size: 16px;
    text-transform: uppercase;
}

.contenedorFooter nav a:hover{
    color: #FFFF00;
}

.contenedorFooter .redes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.contenedorFooter .redes p{
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    color:  #A3A656;
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 26%;
    width: auto;
}

.contenedorFooter .redes .imagenesRedes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
    cursor: pointer;
}